.auth {
  display: inline-block;
  vertical-align: middle;
  width: 300px;
  opacity: 0; }
  .auth.bounceIn {
    opacity: 1;
    animation: bounceIn 1s; }

.auth__top {
  border-radius: 7px 7px 0 0;
  background: #fff;
  padding: 80px 60px 20px 60px;
  font-size: 21px;
  position: relative;
  margin-top: 70px; }

.auth__avatar {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -70px; }

.auth__bottom {
  background: #33c1e3;
  padding: 20px 0;
  border-radius: 0 0 7px 7px; }